1) Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

Sample Input    : 34,67,55,33,12,98
Expected output : ['34', '67', '55', '33', '12', '98']

In [16]:
x = input('Enter a value')
print(type(x))
print(x)
y = x.split(",")
print(type(y))
print(y)
z = tuple(y)
print(type(z))
print(z)

Enter a value34,67,55,33,12,98
<class 'str'>
34,67,55,33,12,98
<class 'list'>
['34', '67', '55', '33', '12', '98']
<class 'tuple'>
('34', '67', '55', '33', '12', '98')

2) With a given tuple, Write a program to print the first half values in one line and the last half values in one line.

Sample Input    : (1,2,3,4,5,6,7,8,9,10, 11)
Expected output : (1,2,3,4,5)
		          (6,7,8,9,10)

In [29]:
MyTuple = (1,2,3,4,5,6,7,8,9,10,11)
print("Input   : ",MyTuple)
print("Output  : ",MyTuple[:5],MyTuple[5:10])
print("Output1 : ",MyTuple[:5])
print("Output2 : ",MyTuple[5:10])

Input   :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
Output  :  (1, 2, 3, 4, 5) (6, 7, 8, 9, 10)
Output1 :  (1, 2, 3, 4, 5)
Output2 :  (6, 7, 8, 9, 10)

3) Write a program to generate and print another tuple whose values are even numbers in the given tuple

Sample Input  : (1,2,3,4,5,6,7,8,9,10)    
Expected Output : (2, 4, 6, 8, 10)

In [36]:
MyTuple1 = (1,2,3,4,5,6,7,8,9,10)
print("Input   : ",MyTuple1)
print("Output  : ",MyTuple1[1::2])

Input   :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
Output  :  (2, 4, 6, 8, 10)

4) With two given lists, write a program to make a list, whose elements are intersection of the above given lists.

Sample inputs   : [12,3,6,88,35,55]
                  [12,24,35,24,88,120,155]

Expected output : [12,88,35]

5) With a given list, write a program to print this list after removing all duplicate values with original order reserved.

Sample Input     : [12,24,35,24,88,155,88,120,155]
Expected output  : [12, 24, 35, 88, 155, 120]